name: infoclin_913
description: Aplicativo para informações sobre câncer

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Packages
  cupertino_icons: ^1.0.2
  sqflite: ^2.3.0
  path: ^1.8.3
  dio: ^5.0.0
  provider: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
